/* набиваю палітру кольорів*/

/* основний колір H2-3   #212121  */

/* додатковий колір абзаци, посади, контакти в хедері #757575 */

/* контакти в футері rgba(255, 255, 255, 0.6); */

/* білий #FFFFFF */

/* активний #2196F3 */

/* фон #F5F4FA */

/* лого Студио #000000; */

body {
  background-color: #ffffff;
  color: #212121;
}

.logo {
  color: #2196f3;
}

.logo span {
  color: #000000;
}

.list {
  list-style: none;
}

/* .site-nav a {
  color: #2196f3;
} */
